body{
  margin: 0;
}
.container{
  height:570px;
}
.navbar h1{
  font-family: 'Raleway', sans-serif;
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  border-bottom: black solid 5px;
}
.menu span{
  padding-left: 15px;
  font-family: 'Raleway', sans-serif;
}
.menu span a{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.menu span a:hover{
  color: #4BBDA2;
  transition: color 300ms ease-in;
}
.menu{
  margin: 20px 15px 0 0;
}

.main{
  background-image: url("file:///Users/salvadormurillo/Desktop/Nellys/resources/images/luxy-hair-hero-image-1-1.jpg");
  height: 810px;
  background-size: cover;
  min-width: 715px;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  border-bottom:black solid 5px;
}

.main-txt span{
  color: white;
  font-weight: bold;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}
.about-container span{
  font-family:'Pacifico', cursive;
  font-size: 30px;
  margin-top:10px;
}
.about-content{
  width: 60%;
  margin: 0 auto;
  height: 430px;
  margin-bottom:black solid 5px;
  display: flex;
  flex-direction: column;
  padding-top:320px;
}
.about-content span{
  text-align: center;
}
.about-content p{
  line-height: 1.8;
}

.location-container{
  width: 100%;
  margin-bottom: 15px;
  margin: 0 auto;
}
.map-content{
  border: 5px solid #5D6D7E;
}
.footer-container{
  background-color:#4BBDA2;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.hours-content{
  color: white;
  padding-left: 10px;
}
.hours-content h2, p{
  font-family: 'Raleway', sans-serif;
}
.social-icons img{
  width: 50px;
  height: 50px;
}
.social-icons{
  margin-right: 10px;
}
/* ABOUT US CSS */
.services-container{
  height: 350px;
  width: 100%;
  background-color:#4BBD9E;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top:30px;
}
.haircut-circle{
  height: 300px;
  width: 300px;
  background-image: url("file:///Users/salvadormurillo/Desktop/Nellys/resources/images/Beibehang-zel-Duvar-Ka-d-Nordic-R-zgar-Kuaf-r-Salon-Kuaf-rl-k-G-zellik.jpg");
  border-radius: 50%;
  background-size: cover;
}
.haircolor-circle{
  height: 300px;
  width: 300px;
  background-image: url("file:///Users/salvadormurillo/Desktop/Nellys/resources/images/69df060ef8a7c8620ee711bc8188e8cc.jpg");
  border-radius: 50%;
  background-size: cover;
}
.haircolor-circle:hover p{
  transform: translate(100px,100px);
  color: white;
}
.eyebrowwax-circle{
  height: 300px;
  width: 300px;
  background-image: url("file:///Users/salvadormurillo/Desktop/Nellys/resources/images/844400926-612x612.jpg");
  border-radius: 50%;
  background-size: cover;

}
.haircolor-circle p{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  pointer-events: none;
 transition: transform 700ms ease-in-out;

}
.haircut-circle p{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  transition: transform 700ms ease-in-out;

}
.haircut-circle:hover p{
  transform: translate(100px,100px);
  color: white;
}
.eyebrowwax-circle p{
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
  transition: transform 700ms ease-in-out;
}
.eyebrowwax-circle:hover p{
  transform: translate(100px,100px);
  color: #4BBDA2;

}
/* Services Page */
.containerservicespage{
  height: 1575px;
  width: 100%;
}
.mainservicespage{
  height: 800px;
  width: 100%;
}
.firststrip{
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: background 700ms ease-in-out;
}
.firststrip:hover{
  background-color: #4BBDA2;
}
.haircolor-picture{
  height: 400px;
  width: 200px;
  margin-top: 50px;
  background-image: url("file:///Users/salvadormurillo/Desktop/Nellys/resources/images/best-ombre-hair-charming.jpg");
  background-size: cover;
  background-position: center;
}
.haircolor-content{
  width: 600px;
  height: 200px;
  padding-top: 133px;
  padding-bottom: 133px;
  padding-left: 50px;
  line-height: 27px;
}
.haircolor-content p{
  font-family: 'Permanent Marker', cursive;
}
.secondstrip{
  height: 500px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  transition: background 700ms ease-in-out;
}
.secondstrip:hover{
  background-color: pink;
}
.haircut-picture{
  height: 400px;
  width: 220px;
  margin-top: 50px;
  background-size: cover;
  background-position: center;
  background-image: url("file:///Users/salvadormurillo/Desktop/Nellys/resources/images/e808e7abb1094194b0ba370394690af6.png");
}
.haircut-content{
  width: 600px;
  height: 200px;
  padding-top: 133px;
  padding-bottom: 133px;
  padding-right: 50px;
  line-height: 27px;
}
.haircut-content p{
  font-family: 'Permanent Marker', cursive;
}
.thirdstrip{
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: background 700ms ease-in-out;
}
.thirdstrip:hover{
  background-color: #FFFFB2;
}
.eyebrowwaxing-pic{
  height: 400px;
  width: 220px;
  margin-top: 50px;
  background-size: cover;
  background-position: center;
  background-image: url("file:///Users/salvadormurillo/Desktop/Nellys/resources/images/eyebrowwaxing-720x360%20(1).jpg");
}
.eyebrowwaxing-content{
  width: 600px;
  height: 200px;
  padding-top: 133px;
  padding-bottom: 133px;
  padding-left: 50px;
  line-height: 27px;
}
.eyebrowwaxing-content p{
  font-family: 'Permanent Marker', cursive;
}
.price-body{
  height: 900px;
  width: 100%;
}
.prices{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.price-title p{
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
  text-align: center;
}
/* BreakPoints */
@media only screen and (min-width:1250px) and (max-width:1400px){
    .about-content p{
      width: 950px;
    }
    .about-content{
      margin-left: 200px;
    }
    .about-content span{
      width: 950PX;
    }
    .main{

    }
}

@media only screen and (min-width:1200px) and (max-width:1249px){
    .about-content p{
      width: 900px;
    }
    .about-content{
      margin-left: 200px;
    }
    .about-content span{
      width: 900px;
    }


}

@media only screen and (min-width:1150px) and (max-width:1199px){
  .about-content p{
    width: 900px;
  }
  .about-content{
    margin-left: 150px;
  }
  .about-content span{
    width: 900px;
  }

}

@media only screen and (min-width:1100px) and (max-width:1149px){
  .about-content p{
    width: 900px;
  }
  .about-content{
    margin-left: 150px;
  }
  .about-content span{
    width: 900px;
  }
  .haircolor-circle{
    width: 250px;
    height: 250px;
  }
  .haircut-circle{
    width: 250px;
    height: 250px;
  }
  .eyebrowwax-circle{
    width: 250px;
    height: 250px;
  }
  .services-container{
    height: 300px;
  }



}

@media only screen and (min-width:999px) and (max-width:1099px){
  .about-content p{
    width: 900px;
  }
  .about-content{
    margin-left: 80px;
  }
  .about-content span{
    width: 900px;
  }
  .haircolor-circle{
    width: 250px;
    height: 250px;
  }
  .haircut-circle{
    width: 250px;
    height: 250px;
  }
  .eyebrowwax-circle{
    width: 250px;
    height: 250px;
  }
  .services-container{
    height: 300px;
  }
}

@media only screen and (min-width:400px) and (max-width:998px){
  .about-content p{
    width: 400px;
    height: 300px;
    font-size: 15px;
  }
  .about-content{
    margin: 0 auto;
    height: 750px;
    width: 400px;
  }
  .about-content span{
    width: 400px;
  }
  .haircolor-circle{
    width: 250px;
    height: 250px;
  }
  .haircut-circle{
    width: 250px;
    height: 250px;
  }
  .eyebrowwax-circle{
    width: 250px;
    height: 250px;
  }
  .services-container{
    height: 300px;
  }
}

@media only screen and (min-width:700px) and (max-width:900px){
  .haircolor-circle{
    width: 200px;
    height: 200px;

}

.haircut-circle{
  width: 200px;
  height: 200px;
}
.eyebrowwax-circle{
  width: 200px;
  height: 200px;
 }
 .services-container{
   height: 250px;
 }

}

@media only screen and (min-width:400px) and (max-width:699px){
  .services-container{
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .haircolor-circle{
    width: 200px;
    height: 200px;
}
.haircut-circle{
  width: 200px;
  height: 200px;
}
.eyebrowwax-circle{
  width: 200px;
  height: 200px;
 }
  .title{
    width: 180px;
    font-size: 10px;
  }
  .menu{
    font-size: 13px;
  }
  .menu span{
    padding-left: 5px;
  }
  .main{
    background-position: right;
  min-width: 900px;
  }

}

@media only screen and (min-width:400px) and (max-width:499px){
  .about-content p{
      font-size: 13px;
      width: 300px;
      height: 150px;
    }

    .about-content{
      padding-left: 55px;
    }
    .about-content span{
      width: 300px;
    }
